body {
    background-image: url("https://i.ytimg.com/vi/bEPAbS-SRlg/maxresdefault.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: rgba(48, 49, 46, 0.096);
    color:white;
    margin-right: 10px;
    margin-bottom: 10px;
    padding:10px;
    width:auto;
    border: 3px solid rgba(255, 12, 113, 0);
    box-shadow: 2px 2px 2px gray;
    font-family: 'Butterfly Kids', cursive;
    font-size: 24px;
     font-weight: bolder;
}

button:hover{
    background-color: rgba(241, 19, 111, 0.658);
}

form {
    float:right;
    margin-right:10px;
    font-family: 'Butterfly Kids', cursive;
    font-size: 24px;
}

box {
    width:40%;
}

#newGif {
    width: 300px;
    height:200px;
    box-shadow: 2px 2px 2px gray;
    margin: 5px;
}

input{
    border: 2px solid rgba(128, 128, 128, 0);
    background-color:rgba(100, 228, 40, 0.493);
    height:auto;
    box-shadow: 2px 2px 2px gray;
    color:white;
    font-family: 'Butterfly Kids', cursive;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
}

input:hover{
    background-color: rgba(241, 19, 111, 0.658);
}

#image{
    margin-bottom:75px;
}

#headerBox{
    background-color: rgba(0, 0, 0, 0.055);
    color: rgba(241, 19, 111, 0.658);
    width:100%;
    height:100px;
    text-align: center;
    vertical-align: center;
    line-height: 100px;
    margin-bottom:10px;
    box-shadow: 2px 2px 2px gray;
    font-family: 'Butterfly Kids', cursive;
    font-size: 40px;
    font-weight: bolder;
}

#footer{
    background-color: rgba(0, 0, 0, 0.37);
    color:white;
    width:100%;
    height:75px;
    bottom:0px;
    left:0px;
    text-align: center;
    vertical-align: center;
    line-height: 100px;
    margin-bottom:10px;
    box-shadow: 2px 2px 2px gray;
    font-family: 'Butterfly Kids', cursive;
    font-size: 40px;
    font-weight: bolder;
    position: fixed;
}





