body {
    background-image: url("https://i.ytimg.com/vi/bEPAbS-SRlg/maxresdefault.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    background-color: rgba(48, 49, 46, 0.199);
    color:white;
    margin-right: 10px;
    margin-bottom: 10px;
    padding:10px;
    width:auto;
    border: 3px solid rgba(255, 12, 113, 0);
    box-shadow: 2px 2px 2px gray;
}

form {
    float:right;
    margin-right:20px;
}

box {
    width:40%;
}

#newGif {
    width: 300px;
    height:200px;
    box-shadow: 2px 2px 2px gray;
    margin: 5px;
}
